.wrap {
  width: 100%;
  display: flex;
  height: auto;
}
.one {
  display: block;
  width: 42%;
  height: 214px;
  margin: 223.7px 0px 134px 376.5px;
}
.Line-4 {
  width: 186px;
  height: 2px;
  margin: 0px 0px 29px 0px;
  background-color: #e03116;
}
body {
  margin: 0 0 7px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.14px;
  color: var(--brownish-grey);
}
h1 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.29px;
  text-align: left;
  color: #1f2c40;
  float: left;
}
h3 {
  margin: 0 0 7px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.19px;
  color: #1f2c40;
}
[class*="row-"] {
  display: flex;
}
.container-2,
.container-4 {
  margin-left: 88px;
}
.content {
  width: 58%;
  display: block;
  margin: 223.7px 394px 0px 87px;
}

[class*="container-"] {
  width: 43.218%;
}

@media screen and (max-width: 1440px) {
  .one {
    width: 40%;
    margin: 273.8px 0px 134px 145.5px;
  }
  .content {
    width: 60%;
    display: block;
    margin: 273.8px 145.5px 0 87px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap {
    display: block;
  }
  .one {
    width: 80%;
    margin: 189.9px 106px 0px 104px;
  }
  .content {
    width: 80%;
    margin:51.9px 102px 0px 102px
  }
  [class*="container-"] {
    width: 47%;
  }
  .container-2,
  .container-4 {
    margin-left: 55px;
  }

}
@media only screen and (max-width: 768px) {
  .one {
    width: 71.6%;
    margin: 161.9px 93px 0px 126px;
  }
  .content {
    width: 68%;
    display: block;
    margin: 84px 126px 0px 126px;
  }

  [class*="row-"] {
    width: 100%;
    display: block; 
  }

  [class*="container-"] {
    width: 100%;
  }
  .container-2,
  .container-4 {
    margin-left: 0px;
  }

  @media only screen and (max-width: 375px) {
    
  }
}
